<div
  *ngIf="chessBoardFigures"
  class="container align-items-center justify-content-center"
>
  <div class="row">
    <div
      [ngClass]="{
      'flex-column-reverse': !isBoardFlipped,
      'flex-column': isBoardFlipped,
    }"
      class="main-board col-md-8 d-flex align-items-center justify-content-center px-0"
    >
      <div class="shot-down-area d-flex align-self-end justify-content-end">
        <div
          *ngFor="let figure of shotDownFigures?.blackSideFigures"
          class="shot-down-figures d-flex align-items-center"
        >
          <img
            class="shot-down-figure py-1"
            [src]="shotDownFigureImageSource[figure]"
            [alt]="shotDownFigureImageSource[figure]"
          />
        </div>
        <div
          *ngIf="shotDownFigures.count > 0"
          class="shot-down-counter d-flex align-items-center ms-3"
        >
          <span>+{{ shotDownFigures.count | abs }}</span>
        </div>
      </div>
      <div
        *ngFor="let row of chessBoardFigures; let x = index"
        class="row w-100 board"
        [ngClass]="{
          'enabled': !isNewGame,
          'disabled-events': isNewGame,
        }"
      >
        <div
          *ngFor="let cell of row; let y = index"
          class="square d-flex align-items-center justify-content-center position-relative"
          [ngClass]="{
          'selected-cell': isCellSelected(x, y),
          'dark-cell': isCellDark(x, y),
          'light-cell': !isCellDark(x, y),
          'last-move': isCellPrevMove(x, y),
          'king-in-check': isKingChecked(x, y),
          'promotion-cell': isCellPromotionCell(x, y),
        }"
          (click)="move(x, y)"
        >
          <div
            [ngClass]="{
              'safe-cell': isCellSafeForSelectedFigure(x, y),
              'safe-attack-cell': isCellSafeForAttackBySelectedFigure(x, y)
            }"
          ></div>
          <div *ngIf="y === 0" class="coordinates-x d-flex position-absolute">
            <span>
              {{ x + 1 }}
            </span>
          </div>
          <div *ngIf="x === 0" class="coordinates-y d-flex position-absolute">
            <span>
              {{ y | ycc }}
            </span>
          </div>
          <img
            *ngIf="cell"
            [src]="figureImageSource[cell.figure]"
            [alt]="cell.figure"
            class="piece"
          />
        </div>
      </div>
      <div class="shot-down-area d-flex align-self-end justify-content-end">
        <div
          *ngFor="let figure of shotDownFigures?.whiteSideFigures"
          class="shot-down-figures"
        >
          <img
            class="shot-down-figure py-1"
            [src]="shotDownFigureImageSource[figure]"
            [alt]="shotDownFigureImageSource[figure]"
          />
        </div>
        <div
          *ngIf="shotDownFigures.count < 0"
          class="shot-down-counter d-flex align-items-center ms-3"
        >
          <span>+{{ shotDownFigures.count | abs }}</span>
        </div>
      </div>

      <div
        *ngIf="isPromotionActive"
        class="promotion-modal position-absolute d-flex align-items-center justify-content-center p-3"
      >
        <img
          *ngFor="let figure of availablePromotionFigureTypes()"
          [src]="figureImageSource[figure]"
          [alt]="figureImageSource[figure]"
          (click)="promoteFigure(figure)"
          class="promotion-modal-figures m-3"
        />
        <span class="close-promotion-dialog" (click)="closePawnPromotion()">
          &times;
        </span>
      </div>

      <div
        *ngIf="isNewGame"
        class="start-game-modal position-absolute py-3 px-4"
      >
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="startGame()">
          <div class="d-flex flex-column justify-content-between">
            <div class="d-flex align-items-center mb-3 justify-content-between">
              <span class="me-4">Choose color white / black</span>

              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="side"
                  (change)="chooseSide($event)"
                />
                <span class="slider round"></span>
              </label>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <span class="me-2">Play with Friend / AI</span>

              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="mode"
                  (change)="chooseMode($event)"
                />
                <span class="slider round"></span>
              </label>
            </div>
            <button type="submit" class="btn-flip-board mt-3">
              Start Game
            </button>
          </div>
        </form>
      </div>

      <div *ngIf="isGameOver" class="game-over-modal position-absolute p-3">
        <span class="m-3">{{ gameOverMessage }}</span>
        <button (click)="restartGame()" class="btn-end-game">New Game</button>
      </div>
    </div>
    <div class="side-bar col-md-4 d-flex justify-content-start flex-column">
      <div
        [class.enabled]="!isNewGame"
        class="disabled-events d-flex justify-content-between align-items-center"
      >
        <button (click)="restartGame()" class="btn-new-game">
          Restart Game
        </button>
        <span>{{ evalValue || 0 }}</span>
        <button (click)="surrenderGame()" class="btn-surrender-game">
          Surrender
        </button>
        <!-- <button (click)="offerDrawGame()" class="btn-draw-game">Offer a draw</button> -->
      </div>
      <div
        [class.enabled]="recordedMoves.length"
        class="recorded-moves d-flex justify-content-start flex-row flex-wrap w-100 align-content-start mt-2"
      >
        <div
          *ngFor="let move of recordedMoves; let index = index"
          class="recorded-move d-flex align-items-center"
        >
          <span *ngIf="index % 2 == 0" class="px-2 full-move-index">{{
            index / 2 + 1
          }}</span>
          <img
            [src]="figureImageSource[move.piece.figure]"
            [alt]="figureImageSource[move.piece.figure]"
            class="ps-1"
          />
          <span
            >{{ (move.prevY | ycc) + (move.prevX + 1) }}
            ⇒
            {{ (move.currY | ycc) + (move.currX + 1) }}
            {{ move.promotedPiece ? "⇒" : "" }}</span
          >
          <img
            *ngIf="move.promotedPiece"
            [src]="figureImageSource[move.promotedPiece]"
            [alt]="figureImageSource[move.promotedPiece]"
          />
        </div>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <button
          (click)="getBestMove()"
          class="disabled-events btn-new-game"
          [class.enabled]="!isNewGame"
        >
          Get Best Move
        </button>
        <button (click)="flipBoard()" class="btn-flip-board">Flip board</button>
      </div>

      <div class="board-naviagation"></div>
    </div>
  </div>
</div>
