<div class="chess-board">
  <div *ngFor="let row of chessBoardFigures; let x = index" class="row">
    <div
      style="position: relative"
      *ngFor="let cell of row; let y = index"
      class="square"
      [ngClass]="{
        'selected-cell': isCellSelected(x, y),
        'dark-cell': isCellDark(x, y),
        'light-cell': !isCellDark(x, y),
        'last-move': isCellPrevMove(x, y),
        'king-in-check': isKingChecked(x, y)
      }"
      (click)="move(x, y)"
    >
      <div [ngClass]="{ 'safe-cell': isCellSafeForSelectedFigure(x, y) }"></div>
      <small style="position: absolute; bottom: 0; left: 0"
        >{{ x }},{{ y }}</small
      >
      <img
        *ngIf="cell"
        [src]="figureImageSource[cell.figure]"
        [alt]="cell.figure"
        class="piece"
      />
    </div>
  </div>
</div>

<div>
  <h3>Ход - {{ playerColor === "White" ? "Белых" : "Черных" }}</h3>
</div>

<div>
  <h3>История ходов</h3>
  <div *ngFor="let move of recordedMoves">
    <span
      >{{
        (move.piece.color === "White" ? "W" : "B") +
          " " +
          move.prevX +
          " " +
          move.prevY
      }}
      на {{ move.currX + " " + move.currY }}</span
    >
  </div>
</div>
