.rotated {
  transform: rotate(180deg);
}

.board {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.square {
  width: 12.5%;
  height: 0;
  padding-top: 12.5%;
  cursor: pointer;
  //border: 1px solid black;
  background-color: white;
}

.game-over-modal {
  color: #000;
  background-color: #ffffffd3;
  box-shadow: 0px 0px 26px 10px rgba(34, 60, 80, 0.2);
}

.promotion-modal {
  background-color: #ffffffd3;
  box-shadow: 0px 0px 26px 10px rgba(34, 60, 80, 0.2);
}

.promotion-dialog img {
  height: calc(90vh / 8);
  cursor: pointer;
}

.close-promotion-dialog {
  font-size: 45px;
  cursor: pointer;
  color: black;
}

.dark-cell {
  background-color: rgb(163, 184, 153);
}

.light-cell {
  background-color: rgb(221, 230, 213);
}

.piece {
  width: 75%;
  position: absolute;
  top: 12.5%;
}

.selected-cell {
  background-image: radial-gradient(
    transparent 0%,
    transparent 79%,
    rgb(102, 123, 104, 0.7) 80%
  );
  transition: 0.1s;
}

.safe-cell {
  position: absolute;
  height: 22.5%;
  width: 22.5%;
  top: 40%;
  background-color: rgb(26, 71, 42, 0.8);
  border-radius: 50%;
  z-index: 100;
  transition: 0.1s;
}

.safe-attack-cell {
  position: absolute;
  height: 22.5%;
  width: 22.5%;
  top: 40%;
  background-color: rgb(217, 83, 79, 0.8);
  border-radius: 50%;
  z-index: 100;
  transition: 0.1s;
}

.king-in-check {
  box-shadow: inset rgb(217, 83, 79) 0px 0px 40px 0px,
    inset rgb(217, 83, 79) 0px 0px 40px 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
  transition: 0.1s;
}

.last-move {
  background-color: rgb(102, 123, 104);
  transition: 0.1s;
}

.promotion-cell {
  box-shadow: inset rgb(102, 123, 104) 0px 0px 40px 0px,
    inset rgb(102, 123, 104) 0px 0px 40px 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
  transition: 0.1s;
}

.shot-down-area {
  height: 3vh;
}

.promotion-modal-figures {
  width: 15%;
}

.shot-down-figures {
  margin-right: -8px;
  &:last-child {
    margin-right: 0px;
  }
}

.shot-down-figure {
  height: 100%;
  opacity: 0.6;
  opacity: 0.6;
}

.coordinates-x {
  bottom: 75%;
  right: 85%;
  span {
    opacity: 0.4;
  }
}

.coordinates-y {
  left: 85%;
  top: 75%;
  span {
    opacity: 0.4;
  }
}
.side-bar {
  margin-top: 3vh;
}

.recorded-moves {
  height: 20vh;
  overflow-y: scroll;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  -webkit-overflow-scrolling: touch !important;
  scrollbar-width: thin !important;
  scrollbar-color: #ccc transparent !important;

  &:hover {
    scrollbar-color: rgba(26, 26, 30, 0.7) transparent !important;
  }
}

.recorded-move {
  width: calc(50% - 1px);
  height: 3vh;
  span {
    font-size: large;
  }
  img {
    height: 70%;
  }
  &:first-child {
    background-color: rgb(221, 230, 213);
    border: 0;
  }

  &:nth-child(4n) {
    background-color: rgb(221, 230, 213);
    border: 0;
  }
  &:nth-child(4n + 1) {
    background-color: rgb(221, 230, 213);
    border: 0;
  }
}

.btn-new-game {
  border: 2px solid rgb(248, 211, 197);
  background-color: rgb(252, 238, 233);
  padding: 0.3rem 0.8rem;
  box-shadow: 0 1px 2px 0 rgb(252, 238, 233), 0 1px 2px 0px rgb(252, 238, 233),
    0 2px 2px 0 rgb(252, 238, 233);
}

.btn-end-game {
  background-color: rgb(102, 123, 104);
  padding: 0.3rem 0.8rem;
  box-shadow: 0 1px 2px 0 rgb(102, 123, 104), 0 1px 2px 0px rgb(102, 123, 104),
    0 2px 2px 0 rgb(102, 123, 104);
  color: #fff;
  border: 0;
}

.btn-surrender-game {
  border: 0;
  background-color: rgb(246, 144, 126);
  padding: 0.3rem 0.8rem;
  box-shadow: 0 1px 2px 0 rgb(246, 144, 126), 0 1px 2px 0px rgb(246, 144, 126),
    0 2px 2px 0 rgb(246, 144, 126);
  color: #fff;
}
